body {

    background-color: #f0f2f5;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
    margin-left: 10px;
    margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

/*.caret {
    position: relative;
    top: 0.6em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    font-size: 0.8em;
}
*/
.supraAdd {
    position: relative;
    top: -0.8em;

    font-size: 0.75em;
}


.supraAdd.is-inline {
    position: static !important;
    top: 0 !important;
    font-size: 1em !important;
}

.page-number {
    margin-bottom: 1rem;

}


.circled-page-number {
    display: inline-block;
    border: 2px solid black;

    border-radius: 50%;

    padding: 0.15em 0.45em;

    line-height: 1;
    font-weight: bold;
    color: black !important;
}

.tei-note {
    display: none;
    color: #6f42c1;
    /* 灰色 */
    font-size: 0.9em;
    background-color: #f8f9fa;
    padding: 2px 5px;
    border-radius: 4px;
}


.tei-note.show-me {
    display: inline !important;
}